# ==========================================================
# config.env.example
# Referência humana. O ficheiro real usado pelo sistema é
# /etc/n5pro.conf e é gerado pelo script 01.
# ==========================================================

N5PRO_REPO_BASE="https://gist.githubusercontent.com/CHANGE-ME/raw"

PVE_IP="192.168.50.99"
UNRAID_IP="192.168.50.100"
PBS_IP="192.168.50.110"
GATEWAY="192.168.50.1"
BRIDGE="vmbr0"

UNRAID_MAC="BC:24:11:05:01:00"
PBS_MAC="BC:24:11:05:01:10"

UNRAID_VMID="100"
PBS_VMID="110"

UNRAID_CORES="8"
UNRAID_MEMORY="16384"
PBS_CORES="4"
PBS_MEMORY="8192"
PBS_SYSTEM_DISK_GB="32"
PBS_ISO_FILE="proxmox-backup-server_4.1-1.iso"

VM_STORAGE="NVMe-Containers"
ISO_STORAGE="local"

UNRAID_SATA_PCI="0000:c1:00.0"
UNRAID_NVME_PCI="0000:c3:00.0"
UNRAID_USB_ID="04e8:6300"
PBS_USB_BACKUP_ID="skip"

PBS_DATASTORE="usb-temp"
PBS_DATASTORE_MOUNT="/mnt/datastore"
PBS_DATASTORE_FS="ext4"
PBS_BACKUP_DEVICE="/dev/sdb"

ENABLE_IOMMU="true"
REMOVE_LOCAL_LVM_DEFAULT="false"
CREATE_NVME_CONTAINERS_DEFAULT="true"
